<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Home of the Infinite Features mod.">
    <meta name="keywords" content="minecraft, infinite features, new ores, new mobs, new biomes, bigger minecraft">
    <title>CRAFT FOREVER</title>
    <link href="/css/font/font.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
      {% include navbar.html %}
    <table class="tableRoot">
      <tbody>
        <tr>
          <td class="title">
            <a href="/">CRAFT FOREVER</a>
          </td>
        </tr>
        <tr>
          <td class="content">
                {{ content }}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
